@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Quantico", sans-serif;
}

img {
  width: 100%;
}

.nav {
  max-width: 400px;
  border: 2px solid #CE84DB;
  border-radius: 1rem;
  margin: 1rem;
}
.nav li {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.nav li:hover {
  background-color: #4BD663;
  border-radius: 1rem;
}
.nav li a {
  color: #FFFFFF;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

body {
  background-image: linear-gradient(to bottom right, #4BD663, #FA9BDB, #FAF64B);
  font-family: "Quantico", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body header .head {
  margin: auto;
  text-align: center;
  justify-content: center;
  padding-top: 5rem;
  /*borrar si no funciona*/
}
body header .head img {
  margin: auto;
  width: 7rem;
}
body header .head #trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main {
  padding: 5rem;
  /*borrar si no funciona*/
}
body main .indexQuestion {
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
body main .animation {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
body main .animation .menu {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  pointer-events: none;
}
body main .animation .menu #sky {
  bottom: 0;
  top: initial;
}
body main .animation .menu #woods {
  bottom: 0;
  top: initial;
  z-index: 1000;
}
body footer {
  display: flex;
  flex-direction: end;
  text-align: center;
  justify-content: center;
}
body footer span {
  padding: 2rem;
}

.gallery {
  max-width: 1200px;
  display: grid;
  grid-template-areas: "titleGal titleGal" "img1 img2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  gap: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
}
.gallery .titleGal {
  grid-area: titleGal;
  text-align: center;
  color: #020202;
}
.gallery .img1 {
  grid-area: img1;
  border-radius: 1rem;
}
.gallery .img2 {
  grid-area: img2;
  border-radius: 1rem;
}

.headerNotIndex {
  display: grid;
  grid-area: "titleShop navNotIndex navNotIndex";
}
.headerNotIndex .titleShop {
  grid-area: titleShop;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNotIndex .navNotIndex {
  grid-area: navNotIndex;
  display: flex;
}

.shopContainer {
  max-width: 1200px;
  background-color: #FFFFFF;
  border-radius: 2rem;
  display: grid;
  grid-template-areas: "mainTitle mainTitle" "box 1 box2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem 1fr;
}
.shopContainer .mainTitle {
  grid-area: mainTitle;
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 5rem;
  text-align: center;
  color: #020202;
}
.shopContainer .box .box1 {
  grid-area: box1;
}
.shopContainer .box .box1 .gameArtbook {
  width: 50%;
}
.shopContainer .box .box2 {
  grid-area: box2;
}
.shopContainer .box .box2 .ghostingGame {
  width: 50%;
}
.shopContainer .box h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.shopContainer .box .price {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.shopContainer .box .button {
  display: flex;
  justify-content: center;
}
.shopContainer .box .button .shoppingButton {
  font-family: "Quantico", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #FFFFFF;
  background-color: #4BD663;
  border: 1px solid #4BD663;
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
}/*# sourceMappingURL=styles.css.map */