@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');
body{
    background-image: linear-gradient(to bottom right, #4BD663, #FA9BDB, #FAF64B);
    font-family: 'Quantico', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    header {
        .head {
            margin: auto;
            text-align: center;
            justify-content: center;
            padding-top: 5rem;
            img{
                margin: auto;
                width: 30rem;
            }
        }
    }
    main {
        padding: 5rem;
        .indexQuestion {
            color: $textColor;
            text-align: center;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .cover {
            max-width: 1200px;
            border-radius: 1rem;
        }

        .summary {
            background-color: $textColor;
            padding: 2rem;
            border-radius: 1rem;
        }
    }
    footer {
        display: flex;
        flex-direction: end;
        text-align: center;
        justify-content: center;
        span {
            padding: 2rem;
        }
    }
}