@media (max-width: 768px) {
    .headerNotIndex {
        display: grid;
        grid-template-areas:
        "pageIcon"
        "navNotIndex";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .headerNotIndex {
        display: grid;
        grid-template-areas:
        "pageIcon"
        "navNotIndex";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        }
}

@media (max-width: 566px) {
    .headerNotIndex {
        display: grid;
        grid-template-areas:
        "pageIcon"
        "navNotIndex";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        }
}

@media (max-width: 480px) {
    .headerNotIndex {
        display: grid;
        grid-template-areas:
        "pageIcon"
        "navNotIndex";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        }
}

@media (max-width: 320px) {
    .headerNotIndex {
        display: grid;
        grid-template-areas:
        "pageIcon"
        "navNotIndex";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        }
}
